body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

#container {
  width: calc(100vw - (16px * 4) - 2px);
  height: calc(100vh - (16px * 4) - 2px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

#video, #student-img {
  width: 640px;
  height: 480px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  margin-top: 16px;
}

#startButton {
  width: 640px;
  height: 50px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 16px;
}

#startButton:hover {
  background-color: #45a049;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
}

#backdrop > div {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#backdrop h2 {
  color: white;
  font-size: 30px;
  margin-bottom: 0px;
}

#student-name {
  color: white;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

#status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#proceso {
  margin-right: 20px;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  border: 2px solid #FFF;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid #0066ff;
  width: 38px;
  height: 38px;
  animation: rotationBack 1.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 28px;
  height: 28px;
  border-color: #FFF;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 16px;
}

#buttons button {
  width: 150px;
  height: 50px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin: 0 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  font-weight: bold;
}

#buttons button:hover {
  background-color: #45a049;
}

#buttons #cancelButton {
  background-color: #f44336;
}

#buttons #cancelButton:hover {
  background-color: #f73022;
}

button:focus-visible {
  outline: none;
}

#volver {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 50px;
  height: 50px;
  background-color: #0066ff;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

#volver:hover {
  background-color: #0055ff;
}

.flecha-atras {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgb(41, 41, 41);
}